﻿@model WebApp.ViewModels.LoginViewModel

<h1>Login</h1>
<form asp-action=Login asp-controller=Authentication>

    <div>
        <label asp-for=LoginModel.UserName></label>
        <input asp-for=LoginModel.UserName/>
    </div>

    <div>
        <label asp-for=LoginModel.Password></label>
        <input asp-for=LoginModel.Password/>
    </div>

    <div>
        <input type="submit" value="Login" />
    </div>

</form>

@if(Model.Response != null)
{
    <div>
        <h2>Response from API:</h2>
        <p><span>@Model.Response.Status</span> - @Model.Response.Message</p>
    </div>
}