﻿@*@model SharedProject.Models.RegisterModel*@
@model WebApp.ViewModels.RegisterViewModel

<h1>Registrer en bruger.</h1>

<form asp-action=Register asp-controller=Authentication>
    <div>
        <label asp-for=RegisterModel.UserName></label>
        <input asp-for=RegisterModel.UserName />
    </div>

    <div>
        <label asp-for=RegisterModel.Password></label>
        <input asp-for=RegisterModel.Password />
    </div>

    <div>
        <label asp-for=RegisterModel.Email></label>
        <input asp-for=RegisterModel.Email />
    </div>

    <div>
        <input type="submit" value="Register" />
    </div>
</form>

@if(Model.Response != null)
{
    <div>
        <h2>Response from API:</h2>
        <p><span>@Model.Response.Status</span> - @Model.Response.Message</p>
    </div>
}


