﻿@model WebApp.ViewModels.ForecastViewModel


@try 
{
    @if(Model.Response != null) 
    {
        <div>
            <h1>Error! - @Model.Response.Status</h1>
            <p>@Model.Response.Message</p>
        </div>
    } else 
    {
        /* We got some data from the API, so let's show it to the user. */
        foreach(var item in Model.Forecast)
        {
            <div style="margin: 20px">
                <p>@item.Summary</p>
                <p>@item.Date - @item.TemperatureC</p>
            </div>
        }

    }
} catch(Exception ex) 
{
    <h1>@ex</h1>
}